{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "EthereumAccount": "",
  "EthereumPassword": "",
  "StorageKey": "",
  "StorageAccount": ""
}
